div.container {
    width: 800px;
    height: 300px;
    margin: 0 auto;
    margin-top: 40px;
}

.satu, .dua {
    width: 100px;
    height: 120px;
    margin: 20px;
}

.satu {
    background-color: rgb(7, 94, 7);
    border: 2px solid;
    border-image-source: url("./hearts.png");   
    border-image-width: 20px;
    border-image-repeat:round;
    border-image-slice: 22;
    border-image-outset:20px;
    box-shadow: 15px 15px, 25px 25px;
}   

.dua {
    background-color: blue;
    border: 2px solid;
    border-image-source: url("./border1.png");
    border-image-width: 20px;
    border-image-repeat:round;
    border-image-slice:34 34;
    border-image-outset: 14px;
    box-shadow: 5px 5px 5px;
}